<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="css/style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans:wght@700&family=Zeyada&display=swap" rel="stylesheet">
		<title>Wanderlust Bucket-List</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		
	</head>
	<body>
		{{{ body }}}
		<script src="js/trips.js"></script>
	</body>
</html>