<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		
		<title>Wanderlust Bucket-List</title>
		<script src="https://code.jquery.com/jquery.js"></script>
{{!-- add the js for trips, should have all ajax functions --}}
	</head>
	<body>
		{{{ body }}}
	</body>
</html>