<body>
<h1><i>Wanderlust Trips</i></h1>
<h3><i>For those with a desire to travel the world and immerse themselves in new cultures.</i></h3>

<form class="create-form">

    <div class="form-group">
        <label for="plan"><stong>Destination:</stong></label>
        <input type="text" id="plan" name="name">
        <button type="submit" class= "">Add</button>
    </div>
</form>

<br>
{{!-- columns for those traveled and those on a bucket list --}}
    <div id="trip-container" class="grid" >
        <div class= "column" id= "planned">
            <div>
                <h2>Dream Trips!</h2>
            </div>

            <ul>
                {{#each trips}}
                    {{#unless traveled}}
                        {{> trips/trip-block data=false}}
                    {{/unless}}
                {{/each}}
                {{trip_name}}
            </ul>
        </div>
            
        <div id= "visited" class="column">
            <div class="traveled">
                <h2>Traveled!</h2>
            </div>

            <ul>
            {{traveled}}
            {{#each trips}}
                    {{#if traveled}}
                        {{> trips/trip-block data=true}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>

    </div>
</body>

