<h1>Wanderlust Trips</h1>

<h2>Add a Destination</h2>
<form class="create-form">

    <div class="form-group">
        <label for="plan">Destination:</label>
        <input type="text" id="plan" name="name">
    </div>

    <button type="submit">Add</button>
</form>


{{#each trips}}
    <div class="trip-container">
        <div class= "planned">
            {{trip_name}}
        </div>
            
        <div class= "visited">
            {{traveled}}
        </div>
    </div>
{{/each}}



