<body>
<h1>Wanderlust Trips</h1>

<h2>Add a Destination</h2>
<form class="create-form">

    <div class="form-group">
        <label for="plan">Destination:</label>
        <input type="text" id="plan" name="name">
        <button type="submit" class= "">Add</button>
    </div>
</form>

{{!-- {{#each trips}} --}}
    <div id="trip-container" class="row" >
        <div class= "column" id= "planned">
            <ul>
                {{#each trips}}
                    {{#unless traveled}}
                        {{> trips/trip-block data=false}}
                    {{/unless}}
                {{/each}}
            </ul>
            {{trip_name}}
        </div>
            
        <div id= "visited" class="column">
            {{traveled}}
            {{#each trips}}
                    {{#unless traveled}}
                        {{> trips/trip-block data=true}}
                    {{/unless}}
                {{/each}}

        </div>
    </div>
{{!-- {{/each}} --}}

{{!-- 
<div>
<h2>Travel Goals!</h2>
<div>

</div>

<h2>Places I've Traveled!</h2>

<ul>
    {{#each cats}}
        {{#if traveled}}
        {{> trips/trip-block data=true}}
        {{/if}}
    {{/each}}
</ul>
</div> --}}

</body>

