<body>
<h1>Wanderlust Trips</h1>

<h2>Add a Destination</h2>
<form class="create-form">

    <div class="form-group">
        <label for="plan">Destination:</label>
        <input type="text" id="plan" name="name">
    </div>

    <button type="submit" class= "">Add</button>
</form>


{{#each trips}}
    <div class="trip-container">
        <div class= "planned">
            {{trip_name}}
            <button class="destName" data-id="{{id}}">Visited</button>
        </div>
            
        <div class= "visited">
            {{traveled}}

        </div>
    </div>
{{/each}}
</body>

{{!-- <div>
<h2>Travel Goals!</h2>
<div>
<ul>
    {{#each trips}}
        {{#unless traveled}}
        {{> trips/trip-block data=false}}
        {{/unless}}
    {{/each}}
</ul>
</div>

<h2>Places I've Traveled!</h2>

<ul>
    {{#each cats}}
        {{#if traveled}}
        {{> trips/trip-block data=true}}
        {{/if}}
    {{/each}}
</ul>
</div>
--}}


