{{!-- will update once I can get css to properly work --}}
{{!-- <li>
	{{trip_name}}

	<button class="destName" data-id="{{id}}" data-newTravel="{{traveled}}">
		{{#if traveled}}Checked off our bucket List!{{else}}Travel Goals{{/if}}
	</button>
</li> --}}