{{!-- will update once I can get css to properly work --}}
<li>
	{{trip_name}}

	<button class="destName" data-id="{{id}}" data-newTravel="{{true}}">
		{{#if traveled}}Wandered!{{else}}Today's the Day!{{/if}}
	</button>
</li>